<!-- <app-game-control (incrementNum)="intervalFired($event)"></app-game-control>

<ng-container *ngIf="intervalNum % 2 === 0; else elseTemplate">
  <app-even></app-even>
</ng-container>
<ng-template #elseTemplate>
  <app-odd></app-odd>
</ng-template> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-new-account></app-new-account>
      <hr />
      <app-account
        *ngFor="let acc of accounts; let i = index"
        [account]="acc"
        [id]="i"
      ></app-account>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users></app-active-users>
      <app-inactive-users></app-inactive-users>
    </div>
  </div>
</div> -->
<!-- 
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            role="presentation"
            aria-current="page"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            role="presentation"
            routerLink="servers"
            routerLinkActive="active"
            >Servers</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            role="presentation"
            routerLink="users"
            routerLinkActive="active"
            >Users</a
          >
        </li>
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<!-- 
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link"
            role="presentation"
            aria-current="page"
            routerLink="/obsHome"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            role="presentation"
            [routerLink]="['obsUsers', 1]"
            routerLinkActive="active"
            >User 1</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            role="presentation"
            [routerLink]="['obsUsers', 2]"
            routerLinkActive="active"
            >User 2</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<!-- <app-td-form></app-td-form> -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <input type="text" [(ngModel)]="filterStatus" />
      <hr />
      <ul class="list-group">
        <li
          class="list-group-item d-flex align-items-center justify-content-between"
          *ngFor="
            let server of servers
              | filter : filterStatus : 'status'
              | sort : 'name'
          "
          [ngClass]="getStatusClasses(server)"
        >
          <span class="mx-3">
            <strong>{{ server.name | shorten : 15 }}</strong> |
            {{ server.instanceType | uppercase | reverse }} |
            {{ server.started | date : "fullDate" }}
          </span>
          <span class="badge bg-secondary">
            {{ server.status }}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="loadedPosts.length !== 0 && !isFetching">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let post of loadedPosts; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.content }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
    <p *ngIf="isFetching">Loading...</p>
  </div>
</div>
