.offline {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: red;
  display: inline-block;
}
.online {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: green;
  display: inline-block;
}

.white {
  color: white;
}
